.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #161C2E;
  min-height: 100vh;
  min-width: 100%;
  
  
}

.titulo {
  font-size: 2000%;
  display: block;
  margin-left: 10%;
}


.container-fluid {
  background-color: #24CE5E;
  max-width: 70%;
  height: 100%;
  display: block;
  border-radius: 10%;
  
 
  
}

.titulo_app {
  font-size: 500%;
  color: #1445A6;
  display: inline;
  margin-bottom: 1%;
  margin-left: 25%;
}
